<h1> Welcome to mudConnector </h1>

<% if flash[:error] %>
  <ul>
    <li><%= flash[:error]  %></li>
  </ul>
<% end %>

<%= form_for :session, url: session_path do |form| %>
  <div>
    <%= form.label :email %>
    <%= form.email_field :email %>
  </div>
  <div>
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>
  <div>
    <%= form.submit "Sign in" %>
  </div>
<% end %>

<%= render "landings/error_messages", target: @user %>

<%= form_for @user do |form| %>
 <div>
    <%= form.label :email %>
    <%= form.email_field :email %>
  </div>
  <div>
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>
  <div>
    <%= form.submit "Sign up" %>
  </div>
<% end %>
