<%= link_to "Log out", :session, method: :delete %>
<h1>Map</h1>
<pre id="ascii-map"><%= @map %></pre>

<table border="0">
  <tr>
    <td>
      <%= button_to "west", movements_path(direction: :west) %>
    </td>

    <td>
      <%= button_to "north", movements_path(direction: :north) %>
    </td>

    <td>
      <%= button_to "south", movements_path(direction: :south) %>
    </td>

    <td>
      <%= button_to "east", movements_path(direction: :east) %>
    </td>
  </tr>
</table>
<p id="user-stats">Energy: <%= @character.energy_level %> power level: <%= @character.power_level %></p>
<%= render "other_characters", other_characters: @character.all_colliding_characters %>

