<%= link_to "Log out", :session, method: :delete %>
<h1>Map</h1>
<pre>
  <%= @map %>
</pre>
<%= form_for :directions do |f| %>
  <%= f.submit "west" %>
  <%= f.submit "north" %>
  <%= f.submit "south" %>
  <%= f.submit "east" %>
<% end %>
