<%= link_to "Log out", :session, method: :delete %>
<h1>Map</h1>
<pre id="ascii-map"><%= @map %></pre>

<%= form_for :movements, class: "movements" do |f| %>
  <table border="0">
  <tr>
    <td>
      <%= f.submit "west", class: "direction" %>
    </td>

    <td>
      <%= f.submit "north", class: "direction" %>
    </td>

    <td>
      <%= f.submit "south", class: "direction" %>
    </td>

    <td>
      <%= f.submit "east", class: "direction" %>
    </td>
  </tr>
</table>
<% end %>

<div id="user-stats">
  <span id="user-energy"> Energy: <%= @character.energy_level %> </span>
  <span id="user-powerlevel"> Power Level: <%= @character.power_level %> </span>
</div>

<div id="http">
  <%= render "other_characters", other_characters: @character.all_colliding_characters %>
</div>

<div class="character-display"></div>

<ul id="display">
</ul>

