<%= link_to "Log out", :session, method: :delete %>
<h1>Map</h1>
<pre id="ascii-map"><%= @map %></pre>

<TABLE BORDER="0">
  <TR>
    <TD>
        <%= button_to "west", movements_url(direction: :west) %>
    </TD>

    <TD>
        <%= button_to "north", movements_url(direction: :north) %>
    </TD>

    <TD>
        <%= button_to "south", movements_url(direction: :south) %>
    </TD>

    <TD>
        <%= button_to "east", movements_url(direction: :east) %>
    </TD>
  </TR>
</TABLE>
